{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block content %}


<style>
  .body{
    background-image: url('/static/serviceapp/back.png') ;
  }
</style>
{% comment %} new page {% endcomment %}

<section class="" style="">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
          <div class="card-body p-5 text-center">

            <h3 class="mb-5">Sign in</h3>
            {% if process == "connect" %}
            <h1>{% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}</h1>

            <p>{% blocktrans with provider.name as provider %}You are about to connect a new third party account from {{ provider }}.{% endblocktrans %}</p>
            {% else %}
            <h1>{% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}</h1>

            <p>{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
            {% endif %}

            <form method="post">
              {% csrf_token %}
              <button class="btn btn-primary" type="submit">{% trans "Continue" %}</button>
            </form>
            <div class="form-outline mb-4">
              
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}