{% load socialaccount %}

{% get_providers as socialaccount_providers %}

{% for provider in socialaccount_providers %}
{% if provider.id == "openid" %}
{% for brand in provider.get_brands %}
<li>
  <i class="fa fa-google" aria-hidden="true"></i><a title="{{brand.name}}"
     class="btn btn-dark socialaccount_provider {{provider.id}} {{brand.id}}"
     href="{% provider_login_url provider.id openid=brand.openid_url process=process %}"
     ></a>
</li>
{% endfor %}
{% endif %}
<li>

    <a title="{{provider.name}}" class="btn btn-danger  socialaccount_provider {{provider.id}}"
     href="{% provider_login_url provider.id process=process scope=scope auth_params=auth_params %}">
        <i class="fa fa-google" aria-hidden="true"></i> Sign up with Google
    </a>
</li>
{% endfor %}
