button{
  margin-top: 24px;
  width: 50%;
  text-align: center;
}
.main-form{
    display: flex;
    flex-direction: column;
float: left;
border: 4px solid black;
border-radius: 12px;
width: 233px;
margin: 12px;
padding: 12px;
}
.service-inputs{
    margin: 12px;

}
.details-section{
    list-style: none;


font-size: large;
    margin-top: 0;
    margin-bottom: 1.5rem;

}
.details-headings{
    color: gray;
    margin-bottom: 0.5rem;
    font-size: large;
}
.errorlist li{
    list-style: none;
    color: brown;
}


/* ==========================================
    FOR DEMO PURPOSE
  ========================================== */
.bg-light {
  background: #eef0f4;
}

.choices__list--dropdown .choices__item--selectable {
  padding-right: 1rem;
}

.choices__list--single {
  padding: 0;
}

.card {
  transform: translateY(-50%);
}

.choices[data-type*=select-one]:after {
  right: 1.5rem;
}

.shadow {
  box-shadow: 0.3rem 0.3rem 1rem rgba(178, 200, 244, 0.23);
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;
}