/venv

serviceapp/migrations/0002_categorymodel_id_alter_categorymodel_name_and_more.py
serviceapp/migrations/__pycache__/0002_categorymodel_id_alter_categorymodel_name_and_more.cpython-39.pyc
kamingo/settings.py
serviceapp/__pycache__/models.cpython-39.pyc
serviceapp/__pycache__/urls.cpython-39.pyc

serviceapp/migrations/0001_initial.py
serviceapp/migrations/__pycache__/__init__.cpython-39.pyc
serviceapp/migrations/__pycache__/__init__.cpython-310.pyc
serviceapp/migrations/__pycache__/0001_initial.cpython-39.pyc
serviceapp/migrations/__pycache__/0001_initial.cpython-310.pyc
serviceapp/migrations/0001_initial.py
serviceapp/migrations/__pycache__/__init__.cpython-39.pyc
serviceapp/migrations/__pycache__/__init__.cpython-310.pyc
serviceapp/migrations/__pycache__/0001_initial.cpython-39.pyc
serviceapp/migrations/__pycache__/0001_initial.cpython-310.pyc
serviceapp/migrations/__init__.py
serviceapp/__pycache__/forms.cpython-39.pyc
serviceapp/__pycache__/models.cpython-39.pyc
serviceapp/__pycache__/__init__.cpython-39.pyc
serviceapp/__pycache__/__init__.cpython-310.pyc
serviceapp/__pycache__/admin.cpython-39.pyc
serviceapp/__pycache__/admin.cpython-310.pyc
serviceapp/__pycache__/api_func.cpython-39.pyc
serviceapp/__pycache__/apps.cpython-39.pyc
serviceapp/__pycache__/apps.cpython-310.pyc
serviceapp/__pycache__/filters.cpython-39.pyc
serviceapp/__pycache__/filters.cpython-310.pyc
serviceapp/__pycache__/forms.cpython-310.pyc
serviceapp/__pycache__/models.cpython-310.pyc
serviceapp/__pycache__/urls.cpython-310.pyc
serviceapp/__pycache__/views.cpython-39.pyc
serviceapp/__pycache__/views.cpython-310.pyc
kamingo/__pycache__/settings.cpython-39.pyc
db.sqlite3
