{% load widget_tweaks %}
{% comment %} 
<p style="margin-bottom: 0.5rem">Address line 1</p>
{{ address_form.address_line1|add_class:'form-conntrol mb-3'}}
<p style="margin-bottom: 0.5rem">Address line 2</p>
{{ address_form.address_line2|add_class:'form-conntrol mb-3'}}
<p style="margin-bottom: 0.5rem">City</p>
{% include 'serviceapp/includes/select-search.html' %}
<p style="margin-bottom: 0.5rem">Pincode</p>
{{ address_form.pin_code|add_class:'form-conntrol mb-3'}}
 {% endcomment %}

    <!-- address1 -->
    <div class="mb-3 col-12">
        <label for="title_id" class="form-label">Address</label>
        <input name='address1' type="text" class="form-control" id="validationCustom01" placeholder="Service Title"  required>
    </div>
    <!-- address2 -->
    <div class="mb-3 col-12">
        <label for="title_id" class="form-label">Address line 2</label>
        <input name='address2' type="text" class="form-control" id="title_id" placeholder="Service Title"  required>
    </div>
   

    <!-- city -->

    <div class="col-12 mb-3">
        <label for="inputCity" class="form-label">City</label>
        {% include 'serviceapp/includes/select-search.html' %}

    </div>

    <!-- zip -->

    <div class="mb-3 col-6">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" name='pincode' class="form-control" id="inputZip"  required>
    </div>


