{% load static %}


<style>
    .no-display{
        display: none;
        color: blue;
    }
    


</style>


<div class="text-center m-5" id="spinner-box">
    <img src="{% static 'serviceapp/kamingo_loading.png' %}" alt="" style="width: 100px;">
    <h4>Take a Chill Pill..</h4>
    <div class="spinner-border" role="status"></div>
  </div>


<div class="no-display" id="list">
    <script type="text/javascript" src="{% static 'serviceapp/loader.js' %}"></script>

<div class="d-flex justify-content-center">
    <p class="h5 lead ">Create new service</p>
</div>

<div class="tab">

    {% comment %} {{ form.as_p }} {% endcomment %}
    {% include 'serviceapp/includes/step1_form.html' %}
    
    

</div>
<div class="tab">
    {% include 'serviceapp/includes/service_form_Images.html' %}
</div>

<div class="tab">
    {% include 'serviceapp/service_form_description.html' %}
</div>

<div class="tab">
    {% include 'serviceapp/includes/address_form.html' %}
</div>

<div class="float-end">
    <div class="btn-group" role="group" aria-label="Basic outlined example">
        <button class="btn btn-outline-dark" type="button" id="prevBtn" onclick="nextPrev(-1)">Back </button>
        <button class="btn btn-outline-primary" type="button" id="nextBtn" onclick="nextPrev(1)"> Next</button>
    </div>
</div>


<div style="text-align:center;margin-top:4rem;">
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
    <span class="step"></span>
</div>

</div>
