{% load static %}
<style>
  .img-size{
    height: auto;

  }
  @media only screen and (max-width: 600px) {
        .img-size {
            height: auto;
        }
      }


</style>
<!-- new caraoul  -->


<div id="carouselExampleControls" class="carousel slide  border rounded mt-2 mb-1" data-bs-ride=""
     style="border: 0.1rem inherit rgb(33, 37, 41);max-height: none; background-color: white;">
    <div class="carousel-inner shadow-sm" style="">
        {% if not images %}
        <div class="carousel-item active" style="height: 20rem;">
            <img class="d-block rounded " style="height: inherit; " width="100%" 
                 src="{% static 'serviceapp/default_img.png' %}">
        </div>
        {% else %}
        {% for image in images %}
        <div class="carousel-item {% if forloop.counter == 1 %}active{% endif %}">
            <img style="height: inherit; " class="d-block rounded  " width="100%" height=""
                 src="{{ image.image.url }}">
        </div>
        {% endfor %}

        {% endif %}

        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="prev">
            <i class=" fa fa-solid fa-arrow-left" style="color: black; font-size: 2rem;"></i>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls"
                data-bs-slide="next">
            <i class=" fa fa-solid fa-arrow-right" style="color: black; font-size: 2rem;"></i>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>