{% load static %}

<style>
    .img-col{
       
        height: 8rem;

    }
    @media only screen and (max-width: 600px) {
        .img-col {
            
            height: 9rem;

        }
      }
</style>

 <div class="row mb-2" style="max-height: 165rem;">
            <div class="col px-1 ">

            <div class="rounded shadow-sm border "
                      {% if service.get_image %}
                    style=" background-image: url('{{ service.get_image}}'); height: 100%;    background-size: cover;

    background-position: center;
    background-repeat: no-repeat; "

             {% else %}
                style=" background-image: url('{% static 'serviceapp/default_img.png' %}') center / cover no-repeat, #ffffff;"

            {% endif %}
                 >
                <a href="{% url 'service-detail-page' service.slug %}" class="stretched-link"></a>


            </div>
        </div>
        <div class="col-7 col-md-9 col-lg-9 border shadow-sm" style="border-radius: 4px;">
            <div>
                <div style="margin: 0.1rem;">
                    <div class="row">
                        <div class="col">
                            <div style="margin: 0.1rem;">
                                <div class="row">
                                    <div class="col d-sm-flex" style="text-align: left;">
                                        <p class="text-truncate" style="font-family: Roboto, sans-serif;font-weight: bold;color: rgb(0,0,0); margin:0rem;">{{ service.title | title }}</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p style="font-size: 0.8rem;margin: 0;font-family: Roboto, sans-serif;color: #546856;"><i class="fa fa-star"></i> {{ service.get_rating | floatformat:1 }}</p>
                                        <p style="font-size: 0.8rem;font-family: Roboto, sans-serif;font-weight: bold;margin: 0;margin-top: 0.2rem;"><i class="fa fa-rupee"></i> {{ service.cost }}</p>
                                        <p style="font-size: 0.8rem;margin: 0;font-family: Roboto, sans-serif;color: #546856;"><i class="fa fa-map-marker"></i> {{ service.address.city}} , {{ service.address.locality }} , {{ service.address.pin_code }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col" style="text-align: right;"><a href="tel:{{ service.contact }}" class="btn btn-light btn-sm shadow-sm" type="button" style="box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);border-radius: 0.1rem;color: var(--bs-purple);font-weight: bold;background: rgb(255,255,255);font-family: Roboto, sans-serif;border: 0.1rem solid var(--bs-purple);font-size: 0.7rem;margin: 0.1rem;"><i class="fa fa-phone"></i> {{ service.contact }}</a>
            {% include 'serviceapp/includes/share_button.html' %}

                    </div>
                </div>
            </div>
        </div>
    </div>
