
<div class="card m-1 shadow-sm" style="max-width: 540px;">
    <a class="stretched-link" href="{% url 'service-detail-page' service.slug %}  "></a>
  <div class="row g-0">
      <div class="container">
    <div class="row">
        <div class="col-4 " style="padding: 0.15rem; justify-content: left">
                  <img style="width: 100%; height: 100%;" src="{{ service.image.url }}" class="img-fluid rounded" alt="...">

        </div>
        <div class="col-8 col-md-8">
                 <div class="card-body">
        <h6 class="card-title text-truncate">{{ service.title | title }}</h6>

        <p class="card-text mb-0" style="color: green; font-weight: bold; "><i class="fas fa-rupee-sign"></i> {{ service.cost }}</p>
        <p class="card-text mb-0" style="color: orange; font-weight: bold; "><i class= "fas fa-star"></i> {{ service.get_rating | floatformat:1 }}</p>
                 <p class="card-text mb-0;">{{ service.address.city}} , {{ service.address.pin_code }}</p>
                 </div>
        </div>
    </div>
</div>

  </div>
</div>