{% load static %}

<button class="btn btn-light btn-sm shadow-sm" type="button" id='share_{{service.pk}}' onclick="myFunction('{% url 'service-detail-page' service.slug %}')" style="box-shadow: 1px 1px 4px 0px rgba(0,0,0,0.33);border-radius: 0.1rem;color: var(--bs-purple);font-weight: bold;background: rgb(255,255,255);font-family: Roboto, sans-serif;border: 0.1rem solid var(--bs-purple);font-size: 0.8rem;margin: 0.1rem;"><i class="fa fa-share-alt"></i> share</button></div>


<p class="result_{{service.pk}}"></p>

<script>
    function myFunction(slug){
    const shareData = {
        image: {{service.image}}
        title: 'Founde a service',
        text: 'Check out this very Good service you can use',
        url: slug
      }
      const resultPara = document.querySelector('.result_{{service.pk}}');
        try {
          navigator.share(shareData)
          resultPara.textContent = ''
        } catch(err) {
          resultPara.textContent = ''
        }
      }
    

</script>
