
    <!-- title -->
    <div class="mb-3 col-12">
        <label for="title_id" class="form-label">Title</label>
        <input name='title' type="text" class="form-control" id="title_id" placeholder="Service Title">
    </div>
    <!-- category -->
    <div class="col-12 mb-3">
        <label for="category_id" class="form-label">Category</label>
        <select name="category" id="category_id" class="form-select">
            
            {% for category in categories %}
            <option value="{{ category }}">{{ category }}</option>
            {% endfor %}

        </select>
    </div>

    <!-- cost -->

    <div class="col-12 mb-3">
        <label class="cost_id" for="typeNumber">Cost</label>
        <input name='cost' type="number" id="cost_id" class="form-control" />

    </div>

    <!-- service provider name -->

    <div class="mb-3 col-12">
        <label for="serviceProvider_id" class="form-label">Service Provider Name</label>
        <input name='service_provider_name' type="text" class="form-control" id="serviceProvider_id"
            placeholder="Provider Name">
    </div>

    <!-- contact -->

    <div class="col-12 mb-3">

        <label class="form-label" for="typePhone">Phone number</label>
        <input name="contact" type="tel" pattern="^\d{10}$" id="typePhone" class="form-control" required />
         
        <div class="invisible" id="contact-alert" style="color: rgb(194, 59, 59); font-size: small;">
            <p class="m-1">Please enter valid phone number!</p>
          </div>
    </div>
