{% extends 'base.html' %}
{% load static %}

{% block title %}
fill the form please
{% endblock %}
{% block css_linking_block %}
<link rel="stylesheet" href="{% static 'serviceapp/service.css' %}">
<link rel="stylesheet" href="{% static 'serviceapp/multistep_form.css' %}">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
{#needed_for_js#}
{{ form.media }}
{% endblock %}


{% block body %}
<form id="regForm" method="POST" action="{% url 'service_form_url' %}" enctype="multipart/form-data" novalidate>
    {% csrf_token %}

<!-- new multistep_form -->


{% include 'serviceapp/includes/multistep_form.html' %}


</form>





<script src="{% static 'serviceapp/multistep_form.js' %}"></script>


{% endblock %}