{% extends 'base.html' %}
{% load static %}






{% block title %}
    fill the form please
{% endblock %}
{% block css_linking_block %}
    <link rel="stylesheet" href="{% static 'serviceapp/service.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    {#needed_for_js#}
    {{ form.media }}
{% endblock %}


{% block body %}

    <div class="d-flex justify-content-center" style="padding: 1rem; justify-content: center">
        <div class="shadow-sm" style="padding: 1rem; background-color: white; width: 40rem">


            <form method="POST" action="{% url 'service_form_url' %}" enctype="multipart/form-data"
                  novalidate>
                {% csrf_token %}
                <div class="mb-3">
                    {{ form.as_p }}
{#                    {{ address_form.as_p }}#}
                    {% include 'serviceapp/includes/address_form.html' %}
                    <div class=" d-flex justify-content-center mb-3">
                        <button type="submit" class="btn btn-outline-primary mt-2">Next</button>
                    </div>
                </div>
            </form>
        </div>

    </div>




{% endblock %}