
{%load static%}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid ">
        <img style="margin-right: 0.5rem;" width="25rem" height="50rem" src="{% static 'serviceapp/kamingo_icon.png' %}" alt="">
      <a class="navbar-brand" href="/">KAMINGO</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
        style="width: fit-content;"

      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item py-2">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item py-2">
            <a class="nav-link" aria-current="page" href="/service">Services</a>
          </li>
          {% comment %} <li class="nav-item">
            <a class="nav-link" href="user/register">Contact Us</a>
          </li> {% endcomment %}
          {% if user.is_authenticated %}
               <li class="nav-item mx-2 py-2">
            <a class="btn btn-outline-primary" href=" {% if user.is_authenticated %}
            {% url 'service_form_url' %}
            {% else %}
{#              {% url  %}#}
            {% endif %}

              ">+ create service</a>
          </li>
          {% else %}
          {% endif %}
        <li class="nav-item mx-2 py-2" >
          {% if user.is_authenticated %}
          <a class="btn btn-success" href="{% url 'dashboard_url' user.pk %}">Dashboard</a>
          {% else %}
          {% endif %}
        </li>

        </ul>

        <form class="d-flex m-2">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if not user.is_authenticated %}
            <li class="nav-item">
              <a
                class="nav-link"
                aria-current="page"
                href="{% url 'account_login' %}"
                ><button type="button" class="btn btn-outline-primary">
                  Login
                </button>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'account_signup' %}"
                ><button type="button" class="btn btn-outline-info">
                  Register
                </button>
              </a>
            </li>
            {% else %}
            <li class="nav-item " style="" >
            </li>
            <li class="nav-item">
              <div class="dropdown mr-4">
               
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                   {{ user.username| title }}
                  </button>
                
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                    {% if user.is_authenticated %}
                  <li class="">
                    <a class="dropdown-item" href=" {% if user.is_authenticated %}
                      {% url 'service_form_url' %}
                      {% else %}
                    {#   {% url  %}#}
                      {% endif %}
                    ">Create Service</a>
                  </li>
                    {% else %}
                    {% endif %}
                    <li class="" >
                      {% if user.is_authenticated %}
                      <a class="dropdown-item" href="{% url 'dashboard_url' user.pk %}">Dashboard</a>
                      {% else %}
                      {% endif %}
                    </li>
                    <li><a class="dropdown-item" href="{% url 'account_logout' %}">Logout</a></li>

                </ul>
              </div>
              
             
            </li>
            {% endif %}
          </ul>

          <!-- <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button> -->
        </form>
      </div>
    </div>
  </nav>

